.background {
  background-color: #0b5200;
  background-image: url("/_explorer/bright-squares.png");
  color: white;
}

table { color: black; background-color: rgba(255, 255, 255, 0.9); }

tbody tr:nth-child(odd) {
  background-color: rgba(240, 240, 240, 0.9);
}

#indexof {
    text-align: center;
}

.fileicon {
  margin-right: 10px;
  vertical-align: middle;
}

.filelink {
  display: block;
  padding: 8px;
}

.posabsolute { position: absolute; }

a, a:visited {
  color: #2281d0;
}

#footer {
  text-align: center;
  font-size: small;
  padding-bottom: 2em;
}

#footer a, .posabsolute a {
  color: white;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

td {
  transition: background 300ms ease;
}

td:nth-child(2), td:nth-child(3)
{
 text-align: center;
}

tr:hover td {
  background-color: rgba(227, 227, 227, 1.0);
}

tr th:nth-child(2) {
 width: 12%; 
 text-align: center;
}

tr th:nth-child(3) {
  width: 20%; 
  text-align: center;
}


@media handheld {
  body {
    color: red;
  }
}
